
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    
    <body>
        <div class="body-main" ng-controller="HomeController">
            
            <img class="confident-logo" itemprop="logo" src="http://confidentdentalcare.in/images/confident_logo.png" alt="Confident Dental Care" title="Confident Dental Care">
            <br>
            <md-button class="md-raised md-primary book-now" ng-click="go('/booknow')">Book Now</md-button>
         
        </div> 
    </body>
    
    <footer class="footer-distributed">

			<div class="footer-left">

				<h3>Confident<span> Dental Care</span></h3>
                <div class="hidden-xs">
                    <br>
                    <p class="footer-company-about">
                        An initiative of India's top manufacturer of dentistry products, our super specialty centers provides a host of services and solutions for comprehensive oral health.
                    </p>
                </div>
                
			</div>

			<div class="footer-center hidden-xs hidden-sm">
                <div>
					<i class="fa fa-phone"></i>
					<p>+91 80 23011500</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:pro@confidentdentalcare.in?cc=saphal@confidentdentalcare.in,administrator@confidentdentalcare.in">support@confidentdentalcare.in</a></p>
				</div>
			</div>

			<div class="footer-right hidden-xs">
                
				<div class="footer-icons">

                    <a class="fa fa-2x fa-google-plus" href="https://plus.google.com/+ConfidentdentalcareInBestDentalClinic/posts"></a>
                    <a class="fa fa-2x fa-facebook" href="http://www.facebook.com/ConfidentDentalCareIndia"></a>
                    <a class="fa fa-2x fa-twitter" href="https://twitter.com/Confident_care"></a>
                    <a class="fa fa-2x fa-youtube" href="http://www.youtube.com/user/Confidentalhospital"></a>
                    <a class="fa fa-2x fa-tags" href="http://confidentdental.blogspot.com/"></a>
                    <a class="fa fa-2x fa-pinterest" href="http://www.pinterest.com/confidentdental/dental-care/"></a>

				</div>

			</div>

		</footer>
    
</html>
