
<section data-ng-controller="EventsCreateController as createEventCtrl">
      <div class="modal-header">
        <h3 class="modal-title">Book an Appointment</h3>
      </div>
      
      <div class="modal-body">

        <form class="form-horizontal" role="form" name="contactForm" ng-controller="PersonalsController as personalsCtrl">
            
            <div class="form-group" >
                <label class="control-label col-sm-2" for="repeatSelect"> Select a dentist </label>
                <select class="dentistList" ng-model="createEventCtrl.selectedDentist" ng-change="createEventCtrl.updateDentist()" 
                        ng-options="personal.fName + ' ' + personal.lName  for personal in personalsCtrl.personals" required>
                </select>
            </div>

           <div class="form-group">
                <label class="control-label col-sm-2" for="treatment">Treatment</label>
                <select class="dentistList" ng-model="createEventCtrl.selectedTreatment" ng-change="createEventCtrl.updateTreatment()"
                        ng-options="treatment.description for treatment in createEventCtrl.selectedDentist.treatments" required>
                </select>
            </div>
            
            <div class="dentist-list panel panel-default">
                
                <div class="panel-heading">
                    <input class="form-control" ng-model="search.name" placeholder="Search Name.."/>
                </div>
                
                <div class="panel-body">
                    <div class="ui-list-view-bordered" ui-list-view="contact in personalsCtrl.personals | filter:search">
                        <p class="name"><strong>{{ contact.fName + ' ' + contact.lName}}</strong></p>
                        <div class="speciality text-muted">{{ contact.speciality }}</div>
                    </div>
                </div>
                
            </div>
            
        </form>
        
        <form class="form-inline" name="timeForm">
            
            <div class="form-group">
                <label class="control-label col-sm-3" for="startDate">Start Date</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" ng-model="$parent.event.startDate" id="startDate" ng-change="createEventCtrl.updateTime()"
                           uib-datepicker-popup="MM-dd-yyyy" is-open="data.isOpen" ng-click="data.isOpen = true" required>  
                </div>                
            </div>
            
            <div class="form-group">
                <label class="control-label col-sm-3" for="startTime">Start Time</label>
                <div class="col-sm-9" id="timePick">
                    <input type="text" class="time start" ng-model="$parent.event.startTime" id="startTime" required>
                </div>
            </div>

        </form>     
    
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-disabled="contactForm.$invalid || timeForm.$invalid" ng-click="createEventCtrl.addEvent()">Book</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      </div>

</section>

