
<section data-ng-controller="EventsController as eventCtrl">
<div class="mainpage" id="container">
	<div class="col-md-6">
        <h2>Upcoming Events</h2>
        <input ng-model="search" type="text" class="form-control" style="max-width:250px;" placeholder="Search"></input>
        <div ng-repeat="event in events | filter:search" class="listItem">
            <a ng-click="setCurrentEvent(event)">{{event.summary}}</a>
            - {{ event.start.dateTime || event.start.date | date:medium }}
        </div>
    </div>
    <div id="mainContent" class="col-md-6">
        <h2>{{ currentEvent.summary }}</h2>
        <div class="well" ng-show="currentEvent">
            When: {{currentEvent.start.date || currentEvent.start.dateTime | date:'MMM d, y @ h:mm a'}}<br/>
            Description: {{currentEvent.description}}<br/>
        </div>
    </div>
    <!--<div id="calendar" class="col-md-4" ui-calendar="calOptions" ng-model="events"> </div>-->
</div>
</section>

