.full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
  .dentistList  {
    border-radius: 32px;
    margin-left: 1%;
    height: 30px;
    width: 180px;
  }
  .calendar-pad {
    padding-left: 50px;
    padding-right: 50px;
  }